& {
  --shadow-sm: 0px 2px 2px 0px rgb(21 21 21 / 16%);
  --shadow-md: 0px 6px 12px 0px rgb(21 21 21 / 12%);
  --shadow-md-primary: 0px 6px 12px 0px rgb(225 0 152 / 20%);
  --shadow-md-top: 0px -8px 16px 0px rgb(21 21 21 / 4%);
  --shadow-md-center: 0px 0px 15px 0px rgb(21 21 21 / 12%);
  --shadow-md-bottom: 0px 8px 16px 0px rgb(21 21 21 / 4%);
}
