& {
  /* surface-opacity */
  --opacity-black: rgba(21 21 21 / 40%);
  --opacity-white: rgb(255 255 255 / 40%);
  --opacity-primary: rgb(225 0 152 / 20%);
  --opacity-transparent: rgb(225 0 152 / 0%);

  /* surface-carbon */
  --carbon-white: #fff;
  --carbon-0: #fafafa;
  --carbon-25: #f5f5f5;
  --carbon-50: #ebebeb;
  --carbon-75: #d8d8d8;
  --carbon-100: #c0c0c0;
  --carbon-200: #a1a1a1;
  --carbon-300: #767676;
  --carbon-400: #5c5c5c;
  --carbon-500: #333;
  --carbon-600: #2e2e2e;
  --carbon-700: #242424;
  --carbon-800: #1c1c1c;
  --carbon-900: #151515;

  /* aux-blue */
  --blue-50: #eef4fe;
  --blue-75: #e7f0fe;
  --blue-100: #cadefd;
  --blue-200: #b0cdfc;
  --blue-300: #8cb7fa;
  --blue-400: #76a9f9;
  --blue-500: #5493f8;
  --blue-600: #4c86e2;
  --blue-700: #3c68b0;
  --blue-800: #2e5188;
  --blue-900: #233e68;

  /* aux-orange */
  --orange-50: #ffede6;
  --orange-75: #ffe6db;
  --orange-100: #fec8b1;
  --orange-200: #fead8b;
  --orange-300: #fd8755;
  --orange-400: #fd7035;
  --orange-500: #fc4c02;
  --orange-600: #e54502;
  --orange-700: #b33601;
  --orange-800: #8b2a01;
  --orange-900: #6a2001;

  /* semantic-info */
  --info-50: #ebf7f9;
  --info-75: #d5eef3;
  --info-100: #c1e5ed;
  --info-200: #a3d8e5;
  --info-300: #79c7d9;
  --info-400: #5fbcd1;
  --info-500: #37abc6;
  --info-600: #329cb4;
  --info-700: #27798d;
  --info-800: #1e5e6d;
  --info-900: #174853;

  /* semantic-error */
  --error-50: #ffe6e6;
  --error-75: #fed8d8;
  --error-100: #ffb0b0;
  --error-200: #ff8a8a;
  --error-300: #ff5454;
  --error-400: #f33;
  --error-500: #f00;
  --error-600: #e80000;
  --error-700: #b50000;
  --error-800: #8c0000;
  --error-900: #6b0000;

  /* semantic-warning */
  --warning-50: #fdf5e6;
  --warning-75: #fbeac9;
  --warning-100: #f9e1b0;
  --warning-200: #f6d28a;
  --warning-300: #f2be54;
  --warning-400: #f0b133;
  --warning-500: #ec9e00;
  --warning-600: #d79000;
  --warning-700: #a87000;
  --warning-800: #825700;
  --warning-900: #634200;

  /* semantic-success */
  --success-50: #e7f8ec;
  --success-75: #cbf1d6;
  --success-100: #b3ebc3;
  --success-200: #8ee1a6;
  --success-300: #5bd37e;
  --success-400: #3bca65;
  --success-500: #0abd3e;
  --success-600: #09ac38;
  --success-700: #07862c;
  --success-800: #066822;
  --success-900: #044f1a;
}
